* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #dfdfdf;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.divider {
  position: relative;
  width: 100%;
  height: 5px;
  z-index: 10;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) -0.99%,
    rgba(255, 255, 255, 0) -0.98%,
    rgba(0, 192, 218, 0.92) 49.87%,
    rgba(255, 255, 255, 0) 100%
  );
}

#main-header {
  width: 100%;
  height: 70px;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgb(198, 198, 198) 100%,
    rgba(198, 198, 198, 0) 100%
  );
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;

  .flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      position: relative;
      top: 0.3em;

      @media (max-width: 1200px) {
        left: 1em;
      }

      @media (max-width: 1023px) {
        left: 1em;
      }

      &-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5;
        text-indent: -9999999px;
      }
      &-image {
        position: relative;
        z-index: 1;
        img {
          max-width: 1300px;

          width: 100%;
        }
      }
    }
    .navegation {
      width: 30%;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
          color: #000;
          transition: 0.3s;

          &:hover {
            color: #0db2e6;
          }
        }
      }

      @media (max-width: 1200px) {
        width: 40%;
        position: relative;
        left: -5em;
      }
      @media (max-width: 1023px) {
        width: 40%;
        position: relative;
      }

      @media (max-width: 768px) {
        width: 50%;
        .navegation {
          display: none;
        }
        @media (max-width: 414px) {
          display: none;
        }
      }
    }
  }
}

#page-home {
  width: 100%;
  overflow: hidden;
  .section-hero {
    position: relative;
    top: 4em;

    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../img/bg-header.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .wrapper {
      position: relative;
      display: flex;
      align-items: center;
      top: 2em;

      &-highlighter {
        width: 12px;
        height: 116px;
        background: linear-gradient(
          180deg,
          #0db2e6 0%,
          rgba(0, 192, 218, 0.92) 53.12%,
          rgba(75, 89, 100, 0) 100%
        );
        border-radius: 1px;

        @media (max-width: 1200px) {
          margin-left: 2em;
        }
        @media (max-width: 1023px) {
          margin-left: 0.5em;
        }
      }
      .item {
        display: flex;
        flex-direction: column;

        &-title {
          width: 100%;
          color: white;
          margin-left: 1em;
          font-size: 36px;
          font-weight: 700;

          @media (max-width: 414px) {
            width: 70%;
          }
        }
        &-description {
          color: white;
          font-size: 16px;
          margin: 0.5em 2em;
        }
      }

      &-highlighter-horizontal {
        width: 6px;
        height: 435px;
        background: linear-gradient(
          180deg,
          #0db2e6 0%,
          rgba(0, 192, 218, 0.92) 53.12%,
          rgba(75, 89, 100, 0) 100%
        );
        border-radius: 1px;
        transform: rotate(90deg);
        margin-top: 15em;
        margin-left: -8em;

        @media (max-width: 414px) {
          height: 355px;
          margin-left: -19em;
        }
      }
    }
  }

  .section-about {
    position: relative;
    height: 108vh;
    display: flex;

    .flex-wrapper {
      position: relative;
      display: flex;
      top: 8em;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .content {
        position: relative;
        left: 1em;
        display: flex;

        @media (max-width: 414px) {
          justify-content: center;
          text-align: center;
        }

        .highlighter {
          width: 6px;
          height: 69px;
          background: linear-gradient(
            180deg,
            #0db2e6 0%,
            rgba(0, 192, 218, 0.92) 53.12%,
            rgba(75, 89, 100, 0) 100%
          );
          border-radius: 1px;
          position: absolute;

          @media (max-width: 768px) {
            margin-left: -12em;
          }
        }

        .left {
          display: flex;
          flex-direction: column;

          @media (max-width: 768px) {
            align-items: center;
          }

          &-title {
            font-size: 36px;
            font-weight: 700;
            padding: 0 0.3em;
            span {
              font-weight: 300;
            }
          }

          &-description {
            font-size: 16px;
            margin-top: 2em;
            line-height: 150%;

            @media (max-width: 1200px) {
              width: 40%;
              line-height: 135%;
            }

            @media (max-width: 1023px) {
              width: 35%;
            }
            @media (max-width: 414px) {
              width: 45%;
            }
            @media (max-width: 375px) {
              width: 44%;
              position: relative;
              left: -1em;
            }
          }

          &-image {
            width: 50%;
            display: flex;
            justify-content: flex-end;

            @media (max-width: 1200px) {
              width: 40%;
              padding: 1em;
            }
            @media (max-width: 1023px) {
              width: 25%;
            }

            @media (max-width: 768px) {
              width: 10%;
            }
          }

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20em 10em;
            z-index: 5;

            @media (max-width: 1200px) {
              margin-top: 8em;
            }
            @media (max-width: 1023px) {
              position: relative;
              top: 3em;
              left: -5em;
            }

            @media (max-width: 768px) {
              width: 50%;
              top: -2em;
              flex-direction: row;
            }
            @media (max-width: 414px) {
              top: -8em;
              right: 1em;
              flex-direction: column;
              z-index: 1;
            }

            &-client {
              text-align: center;
              color: white;
              padding: 0.5em;
              width: 412px;
              height: 112px;
              background: #00425f;
              border-radius: 2px;
              font-size: 30px;

              span {
                font-size: 16px;
                font-weight: 300;
              }
            }

            &-project {
              text-align: center;
              color: white;
              padding: 0.5em;
              width: 412px;
              height: 112px;
              background: #0db2e6;
              border-radius: 2px;
              font-size: 30px;

              span {
                font-size: 16px;
                font-weight: 300;
              }
            }
          }
        }
      }
      .right {
        @media (max-width: 768px) {
          display: none;
        }

        &-background::before {
          content: '';
          position: absolute;
          width: 506px;
          height: 493px;
          left: 644px;
          top: 0px;

          background: linear-gradient(
            180deg,
            #0db2e6 0%,
            rgba(11, 189, 231, 0.93875) 47.4%,
            rgba(0, 255, 240, 0) 100%
          );
          border-radius: 4px;

          @media (max-width: 1200px) {
            left: 30em;
          }
          @media (max-width: 1023px) {
            left: 27em;
          }
        }

        &-image {
          position: absolute;
          width: 506px;
          height: 565px;
          left: 733px;
          top: 50px;

          @media (max-width: 1200px) {
            left: 40em;
          }
          @media (max-width: 1024px) {
            left: 32em;
          }
          @media (max-width: 1023px) {
            left: 30em;
          }
        }
      }
    }
  }
  .section-project {
    @media (max-width: 1023px) {
      margin-top: 13em;
    }
    @media (max-width: 768px) {
      height: 1001vh;
      top: -18em;
    }
    @media (max-width: 414px) {
      top: 5em;
      height: 270vh;
    }
    @media (max-width: 375px) {
      top: 7em;
      height: 333vh;
    }
    height: 110vh;
    position: relative;
    display: flex;
    justify-content: center;
    background: 
    linear-gradient(
      180deg,
      rgba(223, 223, 
      223, 0.9) 0%,
      #dddddd 100%
      ),
      url(../img/img1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;

    .headline {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 10em;

      &-hightlighter {
        width: 6px;
        height: 69px;
        background: linear-gradient(
          180deg,
          #0db2e6 0%,
          rgba(0, 192, 218, 0.92) 53.12%,
          rgba(75, 89, 100, 0) 100%
        );
        border-radius: 1px;
      }
      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1em;

        &-title {
          font-size: 36px;
          font-weight: 700;
          text-align: center;

          span {
            font-weight: 300;
          }
        }

        &-description {
          font-size: 16px;
          font-weight: 229vh;
          text-align: center;
        }
      }
    }
    .flex-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 1023px) {
        flex-flow: row wrap;
        top: 15em;
      }
      @media (max-width: 768px) {
        flex-flow: row wrap;
      }
      top: 10em;
      .item {
        margin-top: 1em;
        @media (max-width: 768px) {
          margin-top: 0.8em;
        }
        .content {
          border: 1px solid;

          border-image-source: linear-gradient(
            180deg,
            rgba(0, 192, 218, 0.16) 0%,
            rgba(2, 218, 248, 0.92) 63.54%,
            #0db2e6 100%
          );
          &-title {
            font-size: 20px;
            font-weight: 500;
          }
          &-description {
            font-size: 16px;
            font-weight: 300;
          }
        }
      }
    }
  }
  .section-customers {
    height: 56vh;
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(218, 219, 219, 0.705) 0%,
      #dfdfde 100%
    );
    @media (max-width: 768px) {
      top: -12em;
    }
    @media (max-width: 414px) {
      height: 118vh;
    }

    .flex-wrapper {
      position: relative;
      display: flex;
      top: 10em;

      @media (max-width: 414px) {
        flex-direction: column;
      }

      .content {
        width: 639px;
        height: 423px;
        display: flex;
        align-items: flex-start;
        padding: 5em;
        border-radius: 4px;

        background: linear-gradient(
          180.1deg,
          #ffffff 0.09%,
          rgba(255, 255, 255, 0.87) 47.92%,
          rgba(220, 220, 220, 0.51) 99.91%
        );
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);

        .left {
          margin-left: 1em;

          &-hightlighter {
            width: 6px;
            height: 69px;
            background: linear-gradient(
              180deg,
              #0db2e6 0%,
              rgba(0, 192, 218, 0.92) 53.12%,
              rgba(75, 89, 100, 0) 100%
            );
            border-radius: 1px;
          }

          &-title {
            font-size: 30px;
            font-weight: 700;

            span {
              font-weight: 300;
            }
          }
          &-description {
            font-size: 16px;
          }
        }
      }
      .right {
        display: flex;
        justify-content: center;
        margin: 05em;

        &-hightlighter {
          width: 6px;
          height: 69px;
          background: linear-gradient(
            180deg,
            #0db2e6 0%,
            rgba(0, 192, 218, 0.92) 53.12%,
            rgba(75, 89, 100, 0) 100%
          );
          border-radius: 1px;
        }

        &-title {
          font-size: 30px;
          font-weight: 700;
          margin-left: 0.4em;

          span {
            font-weight: 300;
          }
        }
        .stamp {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 10em;
          margin-left: 1em;

          @media (max-width: 414px) {
            top: auto;
            margin-top: 5em;
          }
        }
        .top-stamp {
          display: flex;
          align-items: center;
        }
        .bottom-stamp {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .section-contact {
    display: flex;
    align-items: center;
    justify-content: center;

    background: 
    linear-gradient(
      180deg, 
    #dedddd 0%, 
    #4b5964 100%);

    .wrapper {
      position: relative;
      height: 600px;

      &-icon {
        margin: 1em 5em;
      }
      &-title {
        font-size: 30px;
        font-weight: 700;
        color: white;
        position: relative;
        z-index: 1;
        padding: 2em 5em;

        @media (max-width: 1400px) {
          padding: 5em;
        }
        @media (max-width: 1200px) {
          padding: 5em;
        }
        @media (max-width: 414px) {
          font-size: 1.3em;
          text-align: center;
          margin: 5em auto;
          padding: 0;
        }
      }

      &-form {
        position: absolute;
        top: 0;
        width: 100%;
        height: 547px;
        background: #394955;
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);


        fieldset {
          border: none;
          display: flex;
          align-items: center;
          flex-direction: column;
          position: relative;
          top: 14em;

          @media (max-width: 414px) {
            top: 7em;
          }

          .col1,
          .col2 {
            display: flex;
            @media (max-width: 414px) {
              flex-direction: column;
              align-items: center;
              position: relative;
              width: 80%;
              left: 0;

            }
              input {
                width: 100%;
                margin: 1em 1em;
                padding: 0.5em;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #00c0da;
                color: #fff;
                background: transparent;

                &::placeholder {
                  color: #fff;
                }
              }
          }
          .col3 {
            display: flex;
            flex-direction: column;
          }

          textarea {
            width: 100%;
            height: 50px;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #00c0da;
            color: #fff;
            background: transparent;
            text-align: center;

            &::placeholder {
              color: #fff;
            }
          }
          .btn-send {
            width: 100%;
            background-color: #0DB2E5;
            cursor: pointer;
            border-radius: 4px;
            border: none;
            padding: 1em;
            transition: 0.3s;
            color: #fff;
            margin-top: 3em;

            &:hover {
              box-shadow: 
              0 0 5px #03e9f4, 
              0 0 25px #03e9f4, 
              0 0 50px #03e9f4,
              0 0 100px 
              #03e9f4 !important;
            }

          }
        }

        @media (max-width: 1400px) {
          margin-top: 3em;
        }
        @media (max-width: 1200px) {
          margin-top: 5em;
        }
        @media (max-width: 414px) {
          margin-top: 3em;
        }
      }
    }
  }
}

footer {
  height: 232px;
  background: rgba(57, 73, 85, 0.895833);

  .wrapper {
    position: relative;

    &-logo-footer {
      padding: 2em 0;

      @media (max-width: 1200px) {
        margin-left: 1em;
      }
      @media (max-width: 1023px) {
        margin-left: 1em;
      }
    }

    &-copyright {
      position: relative;
      color: white;
      font-size: 16px;
      font-weight: 300;

      @media (max-width: 1200px) {
        margin-left: 1em;
      }
      @media (max-width: 1023px) {
        margin-left: 1em;
      }
    }
  }
}
